.custom-button {
    width: 100%;
    padding: 10px;
    background: #4A0000;
    color: white;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    border-radius: 8px;
    transition: background 0.3s;
}

.custom-button:hover {
    background-color: #FFEBBC;
    color: #0000;
}

.alert {
    margin-top: 20px;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
    width: 100%;
  }
  
  .alert.error {
    background-color: #ffe5e5;
    color: #d8000c;
    border: 1px solid #d8000c;
  }
  
  .alert.success {
    background-color: #e6ffed;
    color: #007e33;
    border: 1px solid #007e33;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }  