.home .text {
  color: #030303;
}

.home .border-angular {
  background-color: #4A0000;
}

.home .border-angular:hover {
  background-color: #FFEBBC;
}

.fade-up {
  opacity: 0;
  transform: translateY(-40px);
  transition: all 0.6s ease-in-out;
}

.fade-up-animate {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 1920px) {
  .home {
    margin-top: -6rem;
  }
}

.gothammedium {
  font-family: "Gotham Medium", cursive;
}

.gothamregular {
  font-family: "Gotham Book", cursive;
}

h1 {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 0 0 25px rgba(0, 0, 0, 0.05), 0 0 5px rgba(0, 0, 0, 0.1);
}

.gaspol {
  color: #FED979;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 0 0 25px rgba(0, 0, 0, 0.05), 0 0 5px rgba(0, 0, 0, 0.1);
}